<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Empresa</title>
</head>
<body>
    <h1	layout:fragment="header">Cadastro	de	empresa</h1>
    <div layout:fragment="content" class="input-form">
        <div class="well">
            <form id="empresaForm" th:action="@{/empresas/(form)}" th:object="${empresa}" action="#" method="post" class="form-horizontal">
                <div th:if="${#fields.hasErrors('*')}" class="alert	alert-error">
                    <p	th:each="error:${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
                </div>
                <input	type="hidden"	th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'"/>
                <div class="form-group">
                    <label class="control-label	col-sm-2" for="nome">Nome Fantasia</label> 
                    <input	class="col-sm-10"	type="text"	th:field="*{nomeFantasia}" th:class="${#fields.hasErrors('nomeFantasia')} ? 'field-error'"/>
                </div>
                <div class="form-group">
                    <label	class="control-label	col-sm-2"	for="text">Cidade</label>
                    <textarea class="col-sm-10"	th:field="*{cidade}" th:class="${#fields.hasErrors('cidade')} ? 'field-error'">
                    </textarea>
                </div> 
                <div class="col-sm-offset-2	col-sm-10">
                    <input type="submit" value="Gravar" />
                </div>
                <br/>
                <a th:href="@{/empresas/}"	href="empresa.html">voltar</a>
            </form>
        </div>
    </div>
</body>
</html> 