<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" ng-app="empresa">
<body>
    <div class="container">
     <nav class="navbar navbar-default navbar-static-top">
       <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/hotdog-logo.png}"/></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a class="brand" href="https://www.casadocodigo.com.br">Casa do Código</a></li>
          <li><a class="brand" href="https://www.boaglio.com">boaglio.com</a></li>
          <li><a class="brand" href="https://projects.spring.io/spring-boot/">Spring Boot</a></li>
          <li><a class="brand" href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf Layout</a></li>
        </ul>
     </nav>
            <div ng-controller="empresaController">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Empresa - Nova empresa</legend>
                        <div class="form-group">
                            <label class="col-md-12" for="checkboxes">
                                <img alt="" src="../img/hotdog.svg" style="width:50px; margin:-12px 0px;" />
                                Cardápio
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <div  class="checkbox checkbox-primary" ng-repeat="i in itens">
                                    <label for="checkboxes-0" class="opcao"> 
                                    <input name="checkboxes"
                                        class=" "
                                        checklist-model="pedidoItens"
                                        checklist-value="i"
                                        ng-click="isItemSelecionado(i)"
                                        type="checkbox">
                                        &nbsp;{{i.nome}} [R${{i.preco}}]
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12" for="btnSubmit">Subtotal: R${{subTotal}} </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnSubmit" name="btnSubmit" ng-click="fazerPedido(pedidoItens)" class="btn btn-primary">Fazer o pedido</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-success" ng-show="idPedido!=null">
                  <strong>Pedido {{idPedido}}</strong>  {{mensagem}} 
                </div>
                <div class="alert alert-warning" ng-show="idPedido!=null">
                  Valor do pedido: <strong>{{valorTotal}}</strong> reais.
                </div>
                 <div class="alert alert-warning" ng-show="idPedido!=null">
                  Chamada do serviço: <strong>{{urlPedido}}</strong> 
                </div>
                <fieldset>{{message}}</fieldset>
            </div>
        </div>    
    </body>
</html>