<!DOCTYPE	html>
<html	xmlns:th="http://www.thymeleaf.org"	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Empresas</title>
</head>
    <body>
        <h1	layout:fragment="header">Lista	de	Empresas</h1>
        <div layout:fragment="content"	class="container">
            <a	href="form.html"	th:href="@{/empresas/novo}">Nova empresa</a>
            <div class="alert alert-success"	th:if="${globalMessage}" th:text="${globalMessage}">mensagem</div> 
            <table	class="table table-bordered	table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                    </tr>
                </thead>
                <tbody>
                    <tr	th:if="${empresas.empty}">   
                     	<td colspan="3">Sem	empresas</td>
                    </tr> 
                    <tr	th:each="empresa : ${empresas}">
                        <td	th:text="${empresa.id}">id</td>
                        <td><a	href="view.html" th:href="@{'/empresas/' + ${empresa.id}}" th:text="${empresa.nomeFantasia}">nome</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html> 