<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <title>Cliente</title>
</head>
<body>
    <h1	layout:fragment="header">Cliente</h1>
    <div layout:fragment="content" class="well">
        <div class="alert alert-success" th:if="${globalMessage}" th:text="${globalMessage}">Empresa gravada com sucesso</div> 
        <table class="table	table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome Fantasia</th>
                    <th>Cidade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td	id="id"	th:text="${empresa.id}">ID</td>
                    <td	id="nomeFantasia" th:text="${empresa.nomeFantasia}">Nome fantasia</td>
                    <td	id="cidade" th:text="${empresa.cidade}">Cidade</td>
                </tr>
            </tbody>
        </table>
        <div class="pull-left">
            <a href="form.html"	th:href="@{'/empresas/alterar/'+${empresa.id}}">alterar</a>
            <a	href="empresas"	th:href="@{'/empresas/remover/'+${empresa.id}}">remover</a>
            <a	th:href="@{/empresas/}"	href="list.html">voltar</a>
        </div>
    </div>
</body>
</html> 
