<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 layout:fragment="header">JDJ-ONE <small>painel de controle</small></h1>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <a th:href="@{/home}" class="btn btn-lg btn-info">Home</a>
            <a th:href="@{/h2-console}" class="btn btn-lg btn-info">H2</a>
            <a th:href="@{/empresas/}" class="btn btn-lg btn-info">Empresas</a>
            <a th:href="@{/upload/}" class="btn btn-lg btn-info">Upload File</a>
        </div>
    </div>
</body>
</html>