<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout" ng-app="login">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="content" class="container">
     <nav class="navbar navbar-default navbar-static-top">
       <div class="navbar-header">
          <a class="navbar-brand" th:href="@{/}"><img th:src="@{/img/hotdog-logo.png}"/></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a class="brand" href="https://www.casadocodigo.com.br">Casa do CÃ³digo</a></li>
          <li><a class="brand" href="https://www.boaglio.com">boaglio.com</a></li>
          <li><a class="brand" href="https://projects.spring.io/spring-boot/">Spring Boot</a></li>
          <li><a class="brand" href="https://github.com/ultraq/thymeleaf-layout-dialect">Thymeleaf Layout</a></li>
        </ul>
     </nav>
            <div ng-controller="loginController">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Login</legend>
                        <div class="form-group">
                            <label class="col-md-12" for="checkboxes">
                                <img alt="" src="../img/hotdog.svg" style="width:50px; margin:-12px 0px;" />
                                Usuário
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                            <label class="control-label	col-sm-2" for="nome">Matricula</label> 
                    		<input class="col-sm-10" type="text" checklist-model="funcionario" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="btnSubmit" name="btnSubmit" ng-click="fazerLogin(funcionario)" class="btn btn-primary">Entrar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="alert alert-success" ng-show="matricula!=null">
                  <strong>Funcionário {{matricula}}</strong>  {{mensagem}} 
                </div>
                <fieldset>{{message}}</fieldset>
            </div>
        </div>    
    </body>
</html>